body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-size: larger;
    text-align: center;
}

a{
    margin: 0 50px 0 0;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: green;
}

nav {
    background-color: #00376e;
    word-spacing: 100px;
    text-align: center;
    font-size: 22px;
    padding: 0.5em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 2px;
    background-color: #007bff;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}